:root {
  --brand-color: #ffa634;
  --bg-color: #101010;
  --secound-bg-color: #191919;
  --text-color: #fff;
  --secound-color: #c6c9d8bf;
  --gig-font: 5.3rem;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;
}

.background {  
  position: relative; 
  background-image: url('/img/bg-mobile.png');
  background-position: center;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.548);
}


header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 10%;
  transition-duration: 0.4s;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  line-height: 32.68px;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(#ff267a, #ffa634);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 10px;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--text-color);
  left: 0;
  bottom: -4px;
  transition: ease 0.4s;
}

.navbar a:hover ::after {
  width: 100%;
}

#menu-icon {
  font-size: 32px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 120px 15%;
}

@media (max-width: 1270px) {
  .background { 
    width: "";   
    background-image: url("/img/bg-tablet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: left;
    background: var(--secound-bg-color);
    transition: all.30s;
  }

  .navbar a {
    display: block;
    padding: 1.1rem;
    margin: 1.3rem;
  }

  .navbar a:hover {
    background: var(--text-color);
  }

  .navbar a::after {
    display: none;
  }

  .navbar.active {
    top: 100%;
  }
}

@media (max-width: 990px) {
  .background {
    width: "";
    background-image: url("/img/bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .home {
    height: 85vh;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: left;
    background: var(--secound-bg-color);
    transition: all.30s;
  }

  .navbar a {
    display: block;
    padding: 1.1rem;
    margin: 1.3rem;
  }

  .navbar a:hover {
    background: var(--brand-color);
    border-radius: 40px;
  }

  .navbar a::after {
    display: none;
  }

  .navbar.active {
    top: 100%;
  }

  .frame {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .home-text h4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.34px;
    text-align: left;
    color: var(--brand-color);

    width: 103px;
    padding: 4px 8px;
    gap: 10px;
    border-radius: 0px 8px;

    background: #181818;
  }

  .frame h1 {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 54.47px;
    text-align: left;
    color: var(--text-color);
  }

  .frame h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: var(--text-color);
  }

  .info {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .rating {
    gap: 8px;
  }

  .rating img {
    width: 16px;
  }

  .duration {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
  }

  .duration h2 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: left;
  }

  #time-icon {
    font-size: 20px;
    color: var(--text-color);
  }

  .btn {
    height: 42px;
    border-radius: 4px;
    border: none;
    background: var(--brand-color);

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
  }
}
